version: 2.1

orbs:
  node: circleci/node@5.0.2

jobs:
  build_test_and_scan:
    executor:
      name: node/default
      tag: "20.10"
    steps:
      - checkout
      - run:
          name: Install Client Dependencies and Build
          command: |
            cd client
            npm install
            npm run build
      - run:
          name: Install Server Dependencies
          command: |
            cd server
            npm install
      - run:
          name: Run SonarQube Scan
          command: |
            npm install -g sonar-scanner
            sonar-scanner -Dsonar.login=$SONAR_TOKEN

workflows:
  build_and_scan:
    jobs:
      - build_test_and_scan
